.navbar{
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: black;
    
}
.lnav .nav-link{
    color: white;

}
.lnav .nav-link:hover{
    color:#794936;
}

.navbar-brand{
    color: aliceblue;
    padding-right: 50px;
    font-family: 'Yeseva One';
}
.navbar-brand:hover{
    color:#794936;
}
.logbtn{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #794936;
}
.logbtn:hover{
    background-color: #2F2A24;
    color: white;
}
.credbtn{
    padding-left: 1100px;
}



@media (max-width: 768px) { 
    .navbar{
        padding-left: 40px;
    }
    .credbtn{
        padding-left: 0px;
        padding-top: 30px;
    }
   .icon{
        padding-right: 30px;
   }
 }